body {
  font-family: "Public Sans", sans-serif;
}

nav {
  font-weight: 600;
}

ul {
  margin: 0 auto;
}

h1 {
  margin-bottom: 2rem;
  color: hsl(233, 26%, 24%);
}
h1.title-heading {
  font-size: 3rem;
}
h3 {
  margin: 2rem 0;
}
h5 {
  transition: color 0.1s;
}
h5:hover {
  color: hsl(192, 70%, 51%);
}

.btn {
  border-radius: 2rem;
  background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  font-size: 1rem;
  transition: opacity 0.3s;
}
.btn:hover {
  opacity: 0.7;
}

section {
  background-color: hsl(0, 0%, 98%);
  padding: 6rem 0;
  z-index: 1;
}
section.intro {
  position: relative;
  padding: 10rem 0;
}
section.intro p {
  margin-bottom: 3rem;
}
section.intro:after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url(images/image-mockups.png);
  background-repeat: no-repeat;
  background-position: 100% 40%;
  background-size: 52%;
  z-index: -1;
}
section.intro:before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url(images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: 200% 50%;
  background-size: 80%;
  z-index: -1;
}
section.why-easybank {
  background-color: hsl(220, 16%, 96%);
}

.mini-card {
  padding: 0.6rem;
  border-radius: 1rem;
  font-size: 18px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.mini-card:hover {
  background-color: hsl(210, 14%, 92%);
}

.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 4px 4px 2rem hsl(210, 14%, 86%);
}
.card-text {
  font-size: 15px;
}

footer {
  background: hsl(233, 26%, 24%);
  color: white;
  padding: 4rem 0;
}
footer a {
  color: white;
}

.social img {
  margin: 0 0.5rem;
  transition: opacity 0.3s;
}
.social img:hover {
  opacity: 0.5;
}
a:hover {
  color: hsl(136, 65%, 51%);
  transition: 0.3s;
}
p.Copyright {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  section.intro {
    padding: 28rem 0 10rem 0;
  }

  section.intro:after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-image: url(images/image-mockups.png);
    background-repeat: no-repeat;
    background-position: 50% -400px;
    background-size: 700px;
  }
  section.intro:before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: center -200px;
    background-size: 700px;
  }
  .footer-logo {
    margin: auto;
    display: block;
  }

  footer .btn,
  .Copyright {
    display: block;
    width: 200px;
    margin: auto;
  }
}
